.ng-invalid:not(form).ng-touched{
    border: 1px solid red;
}
legend { 
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    text-align: center;
    color: blue;
  }
