
 <form #f="ngForm" [matchValue]= "['password', 'confirmPassword']">
      <p>Please choose a password that would be difficult to guess. Examples of bad passwords include birth dates, 
          the names of children, etc. A good password uses a unique combination of letters and numbers. Remember, 
          passwords are case sensitive and <strong>must be at least 6 characters long, at least 1 lowercase, at least 1 uppercase and at least one numeric character.</strong></p>
      
      <div class="container-fluid"> 
        <div class="col-md-6">
            <fieldset>
                <legend>Change Password:</legend>
                <div>
                    <label for="currentPassword">Enter Current Password:</label> 
                    <input type="password" 
                      class="form-control"
                      name="currenPassword" 
                      [class.is-invalid]="f.submitted"
                      required
                      placeholder="enter your current password">
                      <div *ngIf="f.submitted" class="invalid-feedback alert-danger">
                          <p *ngIf="password.errors.required" >Current Password field is required</p>
                      </div>
                  </div>
                  
                <div class="form-group">
                  <label for="password">Enter New Password:</label>
                  <input type="password" 
                    class="form-control" 
                    [(ngModel)]="model.password" #password="ngModel" 
                    name="password"
                    placeholder="enter your new password" 
                    [class.is-invalid]="f.submitted && password.invalid" 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,30}"
                    minlength = "6"
                    required>
                  <div *ngIf="f.submitted && password.invalid" class="invalid-feedback alert-danger">
                    <p *ngIf="password.errors.required" >Password is required</p>
                    <p *ngIf="password.errors.minlength" >Password must be at least 6 characters</p>
                    <p *ngIf="password.errors.pattern" >Password must have lowercase, uppercase and at least 1 numeric character</p>
                  </div>
                </div>
            <div class="form-group">
                  <label for="confirmPassword">Re-Enter Password:</label>
                  <input type="password" 
                      class="form-control" 
                      [(ngModel)]="model.confirmPassword" 
                      #confirmPassword="ngModel" 
                      name="confirmPassword"
                      placeholder="enter your confirm password" [class.is-invalid]="f.submitted && confirmPassword.invalid" required>
                  <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback alert alert-danger">
                    <span *ngIf="confirmPassword.errors.required">Confirm Password is required</span>
                    <span *ngIf="confirmPassword.errors.matchValueError">Confirm Password & Password must be same.</span>
                  </div>
            </div>
            <button type="submit" (click)="onSubmit(f)">Change Password</button>
      </fieldset>
    </div> 

</div>
    <h3>SecurEntry™ Maintenance</h3>
    <p>SecurEntry provides you with: 1) an extra layer of security helping you recognize that you are at our valid web site; and 2) enhanced verification of your identity, thus helping prevent unauthorized access to your accounts.
      Click <a href="#">SecurEntry</a> to change your settings.</p>


</form>